body{
    margin: 0;
}
header>a>img{
    width: 80px;
}
header{
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #30364F;
    justify-content: space-around;
    transition: all 500ms;
    font-size: 20px;
}
nav{
    display: flex;
    gap:80px;
}
nav>a{
    color:#e0c563;
    text-decoration: none;
}
nav>a:hover{
    color: #E1D9BC;
}
footer{
        background-color: #30364F;
        color: #e0c563;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
}
footer>a{
    color: #e0c563;
    text-decoration: none;
}
footer>a:hover{
    color: #E1D9BC;
}